@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --font-base: 'Lexend', sans-serif;;
  --font-second-base: 'Inter', sans-serif;
  --bg-color:#111;
  --primary-color: #ffffff;
  --secondary-color: #e50914;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #111;
   font-family: "Roboto Condensed", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight:400 ;
  font-style: normal;
  max-width: 100%;
}
